<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MH 식당 - 관리자 메인</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
</head>
<body>

    <div class="bar">
        <a href="/"> 홈 </a>
        |
        <a href="/customer/myMain"> MY 관리 </a>
        |
        <a href="/customer/sign-out"> 로그아웃 </a>
    </div>
    <hr/>
    <h1 class="title"> MH 식당 - 관리자 </h1>
    <div class="adminMain">
        <a href="/admin/main.do"> 관리자 홈 </a>
        |
        <a href="#"> 메뉴 관리 </a>
        |
        <a href="/admin/customer/list.do"> 고객 관리 </a>
        |
        <a href="/admin/reservation/list.do"> 예약 관리 </a>
        |
        <a href="/admin/review/list.do"> 리뷰 관리 </a>
    </div>
</body>
</html>