h2, .hot, .resultPassword {
    text-align: center;
}

.title {
    color: black;
    text-align: center;
    text-decoration: none;
}

#customerTotal, #reservationTotal, #menuTotal {
    font-weight: bold;
    text-align: right;
    font-size: 17px;

}

.list {
    text-align: center;
}

.list div, .list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

 .bar {
    text-align: right;
}

 .bar a {
     color: black;
     text-decoration: none;
 }

 .myMain, .adminMain {
     text-align: center;
 }

 .myMain a, .adminMain a {
     color: black;
     text-decoration: none;
     font-weight: bold;
 }

.login, .search, .register, .completeMessage p, .authMessage p, #resultPassword p, .resetPassword, .complete, .updatePassword, .changeName {
    width: 350px;
    border: 0;
    border-radius: 5px;
    background-color: #ebebeb;
    padding: 20px;
    margin: 0 auto;
}

.text-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.submit-btn {
    color: whitesmoke;
    font-size: 15px;
    background-color: lightskyblue;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-weight: bold;
}

.additionalSection, #back-page, #complete, #error {
    text-align: center;
    margin-top: 15px;
}

.additionalSection a, #back-page a, .retry, .retry a, .complete a{
    font-size: 15px;
    color: black;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.loginPage, .reSearch {
    text-align: center;
    font-weight: bold;
}

.adminList table {
    margin-top: 30px;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    width: 100%;
}

.adminList thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
    border-bottom: 3px solid #000;
}

.adminList tbody td {
    width: 350px;
    padding: 10px;
    vertical-align: center;
    border-bottom: 1px solid #ccc;
}

.adminList tbody td a {
    color: black;
}

.page {
    margin-top: 15px;
    text-align: center;
}

.page a {
    color: black;
}

.page a.on {
    color: red;
    font-weight: bold;
}

.customer-searchForm, .reservation-searchForm, .review-searchForm {
    text-align: right;
}

.admin-select-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}

.admin-button-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    color: whitesmoke;
    background-color: lightskyblue;
}

.admin-text-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

/*회원 정보 변경*/
.table_header {
    position: relative;
    padding-bottom: 10px;
    text-align: center;
}
.myPageUserUpdate {
    width: 650px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;
}

.myPageUserUpdate table {
    margin: auto;
    width: 600px;
    border: 1px solid #222;
    background-color: white;
    border-collapse: collapse;
}
.myPageUserUpdate th{
    border: 1px solid #222;
    background: #EEEFF1;
}

.myPageUserUpdate td {
    border: 1px solid #222;
}

.myPageUserUpdate td div {
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

.nameChangeInfo {
    font-size: 12px;
    margin-left: 20px;
}

.nameChangeBtn {
    border-color: #000;
    color: #000;
}

.changeNameResult {
    width: 350px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.submit-btn-name-change {
    color: whitesmoke;
    font-size: 15px;
    background-color: lightskyblue;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-weight: bold;
}

/*예약*/
.reservationForm {
    width: 600px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;
}

.reservationForm table {
    margin: auto;
    width: 560px;
    height: 300px;
    border: 1px solid #222;
    background-color: white;
    border-collapse: collapse;
}
.reservationForm th{
    width: 200px;
    border: 1px solid #222;
    background: #EEEFF1;
}

.reservationForm td {
    border: 1px solid #222;
    text-align: center;
}

.reservationForm td div {
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

.reservation-headCount-field {
    font-size: 17px;
    margin: 0;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
}

.reservation-time-field {
    font-size: 17px;
    margin: 0;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
}

.reservation-date-field {
    font-size: 17px;
    margin: 0;
    border-radius: 8px;
    padding: 10px;
}

.home, .home a {
    font-size: 15px;
    color: black;
    margin-bottom: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

#resultReservation {
   text-align: center;
}

#resultReservation p {
    width: 350px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;
}

/* 예약 확인 */
.myPageUserReservation table {
    border-collapse: collapse;
    line-height: 1.5;
    width: 950px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.myPageUserReservation thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
    border-bottom: 3px solid #000;
}

.myPageUserReservation tbody td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.myPageUserReservation tbody td a {
    color: black;
}

.customer-select-field, .customer-button-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}

/* 리뷰 목록 */
.review-select-field, .review-button-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
}

.review-text-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}

#reviewTotal, #avgTotal, #avgService, #avgDelicious, #avgAmount, #myReservationTotal{
    font-weight: bold;
    text-align: center;
    font-size: 17px;
}

.reviewInfo {
    border-collapse: collapse;
    line-height: 1.5;
    width: 1300px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.reviewInfo thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
    border-bottom: 3px solid #000;
}

.reviewInfo tbody td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.reviewTotalInfo {
    border-collapse: collapse;
    line-height: 1.5;
    width: 500px;
    border: 1px solid #222;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.reviewTotalInfo thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
    border-bottom: 3px solid #000;
}

.reviewTotalInfo tbody td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}

/* 리뷰 작성, 수정 */
.reviewForm {
    width: 820px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;
}

.reviewForm table {
    margin: auto;
    width: 780px;
    height: 300px;
    border: 1px solid #222;
    background-color: white;
    border-collapse: collapse;
}
.reviewForm th{
    width: 200px;
    border: 1px solid #222;
    background: #EEEFF1;
}

.reviewForm td {
    border: 1px solid #222;
    text-align: center;
}

.reviewForm td div {
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

.review-service-score-field, .review-delicious-score-field, .review-amount-score-field {
    font-size: 17px;
    margin: 0;
    border-radius: 8px;
    padding: 10px;
    width: 150px;
}

/* 리뷰 확인 */
.myPageUserReview table {
    border-collapse: collapse;
    line-height: 1.5;
    width: 950px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.myPageUserReview thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: black;
    border-bottom: 3px solid #000;
}

.myPageUserReview tbody td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.myPageUserReview tbody td a {
    color: black;
}

/* 관리자 리뷰 관리 */
.adminList tbody tr div form button {
    border-width: 0;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    color: #000;
    cursor: pointer;
}

/* 회원 탈퇴 */
.delete-account, #delete-account-result {
    width: 500px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;
}

/* 메뉴 작성, 수정 */
.menuForm {
    width: 820px;
    border: 0;
    border-radius: 5px;
    background-color: #EEEFF1;
    padding: 20px;
    margin: 0 auto;
}

.menuForm table {
    margin: auto;
    width: 780px;
    height: 300px;
    border: 1px solid #222;
    background-color: white;
    border-collapse: collapse;
}
.menuForm th{
    width: 200px;
    border: 1px solid #222;
    background: #EEEFF1;
}

.menuForm td {
    border: 1px solid #222;
    text-align: center;
}

.menuForm td div {
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

.adminList a, .adminList #delete-button {
    border-width: 0;
    background-color: transparent;
    text-decoration: underline;
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    color: #000;
    cursor: pointer;
}

/* 메뉴 */
/* FONT */
@import url("https://fonts.googleapis.com/css?family=Lato");

/* Please note, it's not quite meant to look pretty.
Hopefully the use of colours would make it easier to see what's going on and edit to your liking! */

/* ONGOING: For better UX, finding solution to have styling on selected tabs*/

/* General */
body {
    width: 90%;
    margin: 10px auto;
    background-color: #ecf0f1;
    font-family: Lato, sans-serif;
    letter-spacing: 1px;
}

*, *:hover {
    transition: all 0.3s;
    box-sizing: border-box;
}

/* Main Tabs */
.menu label {
    background-color: #FFE5CB;
    color: black;
    display: inline-block;
    cursor: pointer;
    padding: 14px;
    font-size: 16px;
}

label:hover {
    background-color: #FFEFD5;
}

/* Just to give indication that it's being clicked */
label:active {
    color: #37474f;
}

.top-tabs-container {
    text-align: center;
}

.tab-radio {
    display: none;
}

/* Tabs behaviour, hidden if not checked/clicked */
.sub-tab-content,
.tab-content {
    display: none;
}

.tab-radio:checked + .tab-content,
.tab-radio:checked + .sub-tab-content {
    display: block;
}

/* Sub-tabs */

.sub-tabs-container {
    text-align: center;
}

.sub-tabs-container label {
    color: #030700;
    min-width: 150px;
    text-align: center;
    background-color: #FFCB9C;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}

.sub-tabs-container label:active {
    color: #37474f;
    box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
}

.sub-tabs-container label:first-child {
    background-color: #FFCB9C;
}

.sub-tabs-container label:hover {
    background-color: #FFE4B5;
}

.sub-tabs-container label:first-child:hover {
    background-color: #FFE4B5;
}

/* Tabs Content */
.tab-content {
    padding: 10px;
    margin: auto;
    width: 500px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 2px 10px 6px -3px rgba(0, 0, 0, 0.5);
    text-align: center;
}