<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MH 식당</title>
    <style>
        h1, .menu {
            text-align: center;
        }
        .bar {
            text-align: right;
        }
    </style>
</head>
<body>
    <div class="bar">
        <a href="#"> MY 관리 </a>
        |
        <a href="customer/login"> 로그인 </a>
        |
        <a href="customer/register"> 회원가입 </a>
    </div>
    <hr/>
    <a href="/">
        <h1> MH 식당 </h1>
    </a>

    <div class="menu">
        <a href="#"> 메뉴 소개 </a>

        <a href="#"> 예약 </a>

        <a href="#"> 방문자 리뷰 </a>
    </div>

    <div class="hot">
        <p> HOT 메뉴: </p>
    </div>
</body>
</html>