<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MH 식당</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
</head>
<body>
    <div class="bar">
        <a href="/customer/myMain"> MY 관리 </a>
        |
        <a th:if="${userId eq false}" href="/customer/sign-in"> 로그인/회원가입 </a>
        <a th:if="${userId}" href="/customer/sign-out"> 로그아웃 </a>
    </div>
    <hr/>
    <a class="title" href="/">
        <h1> MH 식당 </h1>
    </a>
    <br>
    <div class="list">
        <div class="menu">
            <a href="#"> 메뉴 소개 </a>
        </div>
        <br>
        <div class="reserve">
            <a href="#"> 예약 </a>
        </div>
        <br>
        <div class="review">
            <a href="#"> 방문자 리뷰 </a>
        </div>
    </div>



    <div class="hot">
        <p> HOT 메뉴: </p>
    </div>
</body>
</html>