<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MH 식당</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
</head>
<body>
    <div class="bar">
        <a href="/customer/myMain"> MY 관리 </a>
        |
        <a th:if="${userId eq false}" href="/customer/sign-in"> 로그인/회원가입 </a>
        <a th:if="${userId}" href="/customer/sign-out"> 로그아웃 </a>
    </div>
    <hr/>
    <p style="text-align: center; font-size: 800%; font-weight: bold"> MH 식당 </p>
    <br>
    <div class="list">
        <a class="menu" href="/menu"> 메뉴 소개 </a>
        |
        <a class="reserve" href="/reservation"> 예약 </a>
        |
        <a class="review" href="/review/list"> 방문자 리뷰 </a>
    </div>
    <br/>
</body>
</html>