<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MH 식당 - 메뉴 소개</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
</head>
<body>
    <div class="bar">
        <a href="/customer/myMain"> MY 관리 </a>
        |
        <a th:if="${userId eq false}" href="/customer/sign-in"> 로그인/회원가입 </a>
        <a th:if="${userId}" href="/customer/sign-out"> 로그아웃 </a>
    </div>
    <hr/>
    <a class="title" href="/">
        <h1> MH 식당 </h1>
    </a>
    <br>
    <div class="list">
        <a class="menu" href="/menu"> 메뉴 소개 </a>
        |
        <a class="reserve" href="/reservation"> 예약 </a>
        |
        <a class="review" href="/review/list"> 방문자 리뷰 </a>
    </div>
    <br/>
    <div class="table_header">
        <h3>메뉴 소개</h3>
    </div>
    <section class="menu">
        <div class="top-tabs-container">
            <label for="main-tab-1">메인 메뉴</label>
            <label for="main-tab-2">사이드 메뉴</label>
            <label for="main-tab-3">음료</label>
        </div>
        <br/>
        <input class="tab-radio" id="main-tab-1" name="main-group" type="radio" checked="checked"/>
        <div class="tab-content">
            <div class="sub-tabs-container">
                <label for="sub-tab-1">등심 돈카츠</label>
                <label for="sub-tab-2">치즈 돈카츠</label>
            </div>
            <input class="tab-radio" id="sub-tab-1" name="sub-group" type="radio" checked="checked">
            <div class="sub-tab-content">
                <h1 >등심 돈카츠</h1>
                <img src="/files/2022/10/28/896a8a7522f541f99b0b510053fe6b3d.png" style="width: 300px; height: 300px"/>
                <p> 12,000원 </p>
            </div>
            <input class="tab-radio" id="sub-tab-2" name="sub-group" type="radio">
            <div class="sub-tab-content">
                <h1 >치즈 돈카츠</h1>
                <img src="/files/2022/10/28/a26b95611f614b8791cd39dc335ef8b6.png" style="width: 300px; height: 300px"/>
                <p> 14,000원 </p>
            </div>
        </div>

        <input class="tab-radio" id="main-tab-2" name="main-group" type="radio"/>
        <div class="tab-content">
            <div class="sub-tabs-container">
                <label for="sub-tab2-1">쫄면</label>
            </div>

            <input class="tab-radio" id="sub-tab2-1" name="sub-group2" type="radio" checked="checked">
            <div class="sub-tab-content">
                <h1 >쫄면</h1>
                <img src="/files/2022/10/30/c30630154ac44944a4093993a84d83e9.jpg" style="width: 300px; height: 300px"/>
                <p> 5,000원 </p>
            </div>
        </div>

        <!-- Tab Container 3 -->
        <input class="tab-radio" id="main-tab-3" name="main-group" type="radio"/>
        <div class="tab-content">
            <div class="sub-tabs-container">
                <!-- NOTE: due to id note below, remember to match the for-->
                <label for="sub-tab3-1">콜라</label>
                <label for="sub-tab3-2">사이다</label>
            </div>
            <!-- Sub Tab -->
            <input class="tab-radio" id="sub-tab3-1" name="sub-group3" type="radio" checked="checked">
            <div class="sub-tab-content">
                <h1 >콜라</h1>
                <img src="/files/2022/10/30/3667655320bf4a9e8cfc6f3651306d03.png" style="width: 300px; height: 300px"/>
                <p> 2,000원 </p>
            </div>
            <!-- Sub Tab -->
            <input class="tab-radio" id="sub-tab3-2" name="sub-group3" type="radio">
            <div class="sub-tab-content">
                <h1 >사이다</h1>
                <img src="/files/2022/10/30/50018065cf14466b9d31d52e128079bf.png" style="width: 300px; height: 300px"/>
                <p> 2,000원 </p>
            </div>
        </div>
    </section>
</body>
</html>