<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MH 식당 - 비밀번호 재설정</title>
    <style>
        h1, h2, #resetPassword {
            text-align: center;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function () {

                var password = $(this).find('input[name=password]').val();
                var rePassword = $(this).find('input[name=rePassword]').val();

                if (password != rePassword) {
                    alert(' 새 비밀번호와 비밀번호 확인이 일치하지 않습니다. ');
                    return false;
                }
            });
        });
    </script>
</head>
<body>
    <a href="/">
        <h1> MH 식당 </h1>
    </a>
    <hr/>
    <h2> 비밀번호 재설정 </h2>
    <div id="resetPassword">
        <div th:if="${result}">
            <div>
                <p> 비밀번호를 변경해주세요. </p>
                <p> 안전한 비밀번호로 변경해주세요. </p>
            </div>

            <form method="post">
                <div>
                    <input type="password" name="password" placeholder="새 비밀번호"/>
                </div>
                <div>
                    <input type="password" name="rePassword" placeholder="새 비밀번호 확인"/>
                </div>
                <div>
                    <button type="submit"> 비밀번호 재설정 </button>
                </div>
            </form>
        </div>
        <div th:if="${result eq false}">
            <p> 입력값이 유효하지 않습니다. </p>
        </div>
    </div>

</body>
</html>