<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MH 식당 - 비밀번호 번경</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('form').on('submit', function () {

                var newPassword = $(this).find('input[name=newPassword]').val();
                var newRePassword = $(this).find('input[name=newRePassword]').val();

                if (newPassword != newRePassword) {
                    alert(' 새 비밀번호와 비밀번호 확인이 일치하지 않습니다. ');
                    return false;
                }
            });
        });
    </script>
</head>
<body>

    <div class="bar">
        <a href="/"> 홈 </a>
        |
        <a href="/customer/myMain"> MY 관리 </a>
        |
        <a href="/customer/sign-out"> 로그아웃 </a>
    </div>
    <hr/>
    <a class="title">
        <h1> MH 식당 - 비밀번호 변경 </h1>
    </a>
    <div class="myMain">
        <a href="/customer/myMain/myInfo"> 회원 정보 변경 </a>
        |
        <a href="/customer/myMain/updatePassword"> 비밀번호 변경 </a>
        |
        <a href="/customer/myMain/reservation"> 예약 확인 </a>
        |
        <a href="/cutomer/myMain/review"> 리뷰 확인 </a>
    </div>
    <br>
    <div class="table_header">
        <h3>비밀번호 변경</h3>
    </div>
    <div class="updatePassword">

        <form method="post">
            <div>
                현재 비밀번호<input type="password" name="password" class="text-field" placeholder="비밀번호를 입력" required/>
            </div>
            <div>
                새 비밀번호<input type="password" name="newPassword" class="text-field" placeholder="새 비밀번호를 입력" minlength="8" required/>
            </div>
            <div>
                새 비밀번호 확인<input type="password" name="newRePassword" class="text-field" placeholder="새 비밀번호를 재입력" required/>
            </div>
            <div>
                <button type="submit" class="submit-btn"> 비밀번호 변경 </button>
            </div>
        </form>
        <div id="error" th:text="${message}"></div>
    </div>
</body>
</html>